@CHARSET "UTF-8";
.ui-jqgrid .ui-jqgrid-view,.ui-jqgrid .ui-paging-info,.ui-jqgrid .ui-pg-table,.ui-jqgrid .ui-pg-selbox {
	font-size: 13px
}

.ui-jqgrid .ui-jqgrid-title {
	float: left;
	margin: 8px
}

.ui-jqgrid .ui-jqgrid-title-rtl {
	float: right;
	margin: 8px
}

.ui-jqgrid-view>.ui-jqgrid-titlebar {
	height: 40px;
	line-height: 24px;
	color: #FFF;
	background: #307ecc;
	padding: 0;
	font-size: 15px
}

.ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
	border-right: 0;
	border-left: 1px solid #e1e1e1
}

.ui-jqgrid .ui-jqgrid-hdiv {
	background-color: #3478c9;
	border: 1px solid #d3d3d3;
	border-width: 1px 0 0 1px;
	line-height: 15px;
	font-weight: bold;
	color: #777;
	text-shadow: none
}

.ui-jqgrid .ui-jqgrid-htable thead {
	background-color: #eff3f8
}

.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
	height: 45px!important
}

.ui-jqgrid .ui-jqgrid-htable th div {
	padding-top: 12px;
	padding-bottom: 12px
}

.ui-jqgrid-hdiv .ui-jqgrid-htable {
	border-top: 0
}

.ui-jqgrid-hdiv .ui-jqgrid-htable {
	border-top: 1px solid #e1e1e1
}

.ui-jqgrid-titlebar {
	position: relative;
	top: 1px;
	z-index: 1
}

.ui-jqgrid tr.jqgrow,.ui-jqgrid tr.ui-row-ltr,.ui-jqgrid tr.ui-row-rtl {
	border: 0
}

.ui-jqgrid tr.ui-row-ltr td,.ui-jqgrid tr.ui-row-rtl td {
	border-bottom: 1px solid #e1e1e1;
	padding: 6px 4px;
	border-color: #e1e1e1
}

.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
	border-right-color: #c7d3a9
}

.ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
	border-left-color: #c7d3a9
}

.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
	background-image: none;
	background-color: #f9f9f9;
	opacity: 1
}

.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
	background-image: none;
	background-color: #eff4f7;
	opacity: 1
}

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
	background-color: #e4efc9
}

.ui-jqgrid .ui-jqgrid-pager {
	line-height: 15px;
	height: 55px;
	padding-top: 3px!important;
	padding-bottom: 5px!important;
	background-color: #efefef!important;
	border-bottom: 1px solid #e1e1e1!important;
	border-top: 1px solid #e1e1e1!important
}

.ui-jqgrid .ui-pg-input {
	font-size: inherit;
	width: 24px;
	height: 20px;
	line-height: 16px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px
}

.ui-jqgrid .ui-pg-selbox {
	display: block;
	height: 24px;
	width: 60px;
	margin: 0;
	padding: 1px;
	line-height: normal
}

.ui-jqgrid .ui-jqgrid-htable th div {
	overflow: visible
}

.ui-jqgrid .ui-pager-control {
	height: 50px;
	position: relative;
	padding-left: 9px;
	padding-right: 9px
}

.ui-jqgrid .ui-jqgrid-toppager {
	height: auto!important;
	background-color: #eff3f8;
	border-bottom: 1px solid #e1e1e1!important
}

.ui-jqgrid .jqgrow .editable {
	max-width: 90%;
	max-width: calc(92%)!important
}

.ui-pg-table .navtable .ui-corner-all {
	border-radius: 0
}

.ui-jqgrid .ui-pg-button:hover {
	padding: 1px
}

.ui-jqgrid .ui-pg-button .ui-separator {
	margin-left: 4px;
	margin-right: 4px;
	border-color: #c9d4db
}

.ui-jqgrid .ui-jqgrid-btable {
	border-left: 1px solid #e1e1e1
}

.ui-jqgrid .ui-jqgrid-bdiv {
	border-top: 1px solid #e1e1e1
}

.ui-jqgrid .loading {
	position: absolute;
	top: 45%;
	left: 45%;
	width: auto;
	height: auto;
	z-index: 101;
	padding: 6px;
	margin: 5px;
	text-align: center;
	display: none;
	font-weight: bold;
	font-size: 12px;
	background-color: #FFF;
	border: 2px solid #8eb8d1;
	color: #e2b018
}

.ui-jqgrid .ui-search-toolbar {
	border-top: 1px solid #e1e1e1
}
.aa{
	background:#3478c9;
}
.ui-jqgrid .ui-jqgrid-labels {
	border-bottom: 0;
	background: #3478c9 !important;
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#f8f8f8),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f8f8f8,0%,#ececec,100%);
	background-image: -moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);
	background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);
	padding: 0!important;
	border-left: 1px solid #e1e1e1!important
}

.ui-jqgrid .ui-jqgrid-labels th {
	/* border-right: 1px solid #e1e1e1; */
	/* text-align: left!important */
	text-align: center!important
}

.ui-jqgrid-labels th[id*="_cb"]:first-child>div {
	padding-top: 0;
	text-align: center!important
}

.ui-jqgrid-sortable {
	padding-left: 4px;
	font-size: 13px;
	/* color: #777; */
	color: #ffffff;
	font-weight: bold
}

.ui-jqgrid-sortable:hover {
	color: #547ea8
}



.ui-grid-ico-sort:before {
	display: inline;
	content: "\f0d7";
	font-family: FontAwesome;
	font-size: 12px
}

.ui-icon-asc:before {
	content: "\f0d8"
}

.ui-state-disabled {
	color: #BBB
}

.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon {
	display: inline-block;
	padding: 0;
	width: 24px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	text-indent: 0;
	position: static;
	float: none;
	margin: 0 2px!important;
	color: #808080;
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 100%
}

.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:hover {
	color: #699ab5;
	border-color: #699ab5
}

.ui-pg-table>tbody>tr>.ui-pg-button>.ui-icon:before {
	width: 20px;
	text-align: center;
	display: inline-block
}

.ui-pg-table>tbody>tr>.ui-pg-button.ui-state-disabled .ui-icon {
	color: #b0b0b0;
	background-color: #f7f7f7;
	border-color: #DDD;
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9)
}

.ui-jqgrid-btable input,.ui-jqgrid-btable textarea,.ui-jqgrid-btable select {
	padding: 2px;
	width: auto;
	max-width: 100%;
	margin-bottom: 0
}

.ui-jqgrid-btable select {
	padding: 1px;
	height: 25px;
	line-height: 25px
}

.ui-pg-div .ui-icon {
	display: inline-block;
	width: 18px;
	float: none;
	position: static;
	text-align: center;
	opacity: .85;
	-webkit-transition: all .12s;
	transition: all .12s;
	margin: 0 1px;
	vertical-align: middle;
	cursor: pointer;
	font-size: 17px
}

.ui-pg-div .ui-icon:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1;
	position: static;
	margin: 0 1px
}

.ui-pg-div .ui-icon:before {
	font-family: FontAwesome;
	display: inline
}

.ui-icon-pencil {
	color: #478fca
}

.ui-icon-pencil:before {
	content: "\f040"
}

.ui-icon-trash {
	color: #dd5a43
}

.ui-icon-trash:before {
	content: "\f014"
}

.ui-icon-disk {
	color: #69aa46
}

.ui-icon-disk:before {
	content: "\f00c"
}

.ui-icon-cancel {
	color: #dd5a43
}

.ui-icon-cancel:before {
	content: "\f00d"
}

.ui-jqdialog-content,.ui-jqdialog .ui-jqdialog-content {
	font-size: 13px;
	padding: 4px 0 0
}

.ui-jqdialog-content .formdata,.ui-jqdialog .ui-jqdialog-content .formdata {
	font-size: 13px;
	padding: 6px 12px
}

.ui-jqdialog-content .form-view-data,.ui-jqdialog .ui-jqdialog-content .form-view-data {
	vertical-align: middle;
	font-size: 13px
}

.ui-jqdialog-content[id*="alertcnt_"],.ui-jqdialog .ui-jqdialog-content[id*="alertcnt_"] {
	padding: 8px 11px
}

.ui-jqdialog-content .CaptionTD {
	font-size: 12px;
	text-align: right;
	color: #666
}

.ui-jqdialog-content .FormData {
	border-bottom: 1px dotted #e8e8e8
}

.ui-jqdialog-content .FormData:last-child {
	border-bottom: 0
}

.ui-jqdialog-content .FormData>td {
	padding-top: 6px;
	padding-bottom: 6px
}

.ui-jqdialog-content input.FormElement {
	width: auto
}

.ui-jqdialog-content select.FormElement {
	padding: 1px;
	height: 25px;
	line-height: 25px;
	width: auto
}

.ui-jqdialog-content td.EditButton {
	padding: 8px
}
@font-face{font-family:'FontGrid';src:url('./font/fontawesome-webfont.eot?v=3.2.1');src:url('./font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),url('./font/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('./font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('./font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:FontGrid;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;*margin-right:.3em;}
[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em;}
a [class^="icon-"],a [class*=" icon-"]{display:inline;}
[class^="icon-"].icon-fixed-width,[class*=" icon-"].icon-fixed-width{display:inline-block;width:1.1428571428571428em;text-align:right;padding-right:0.2857142857142857em;}[class^="icon-"].icon-fixed-width.icon-large,[class*=" icon-"].icon-fixed-width.icon-large{width:1.4285714285714286em;}
[class^="icon-"].hide,[class*=" icon-"].hide{display:none;}
.icon-double-angle-left:before{content:"\f100";}
.icon-double-angle-right:before{content:"\f101";}
.icon-double-angle-up:before{content:"\f102";}
.icon-double-angle-down:before{content:"\f103";}
.icon-angle-left:before{content:"\f104";}
.icon-angle-right:before{content:"\f105";}
.icon-angle-up:before{content:"\f106";}
.icon-angle-down:before{content:"\f107";}

.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
      color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
        cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px; }
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
  opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
      transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }
  
.colViewEditDiv {
	padding:20px;
}
.addColDiv {
	padding-left:20px;
	padding-right:20px;
}